USED PACKAGES

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('courses.csv')
print(df)

      Course_ID   Course_Name      Category  Duration (hours)  \
0             1      Course_1  Office Tools                21
1             2      Course_2  Office Tools                57
2             3      Course_3    Technology                52
3             4      Course_4  Office Tools                69
4             5      Course_5    Technology                43
...         ...           ...           ...               ...
9995       9996   Course_9996            AI                87
9996       9997   Course_9997  Data Science                96
9997       9998   Course_9998            AI                25
9998       9999   Course_9999   Programming                46
9999      10000  Course_10000   Programming                50

      Enrolled_Students  Completion_Rate (%)           Platform   Price ($)  \
0                  4217            50.646827           Coursera   38.797425
1                  4238            82.240240                edX  160.650991
2                  2700            55.729028  LinkedIn Learning  123.503781
3                  4308            58.664729  LinkedIn Learning  116.775704
4                  4792            62.598147              Udemy   96.246696
...                 ...                  ...                ...         ...
9995                482            55.407463              Udemy  155.965331
9996               2029            93.093483           Coursera  151.022434
9997                136            90.279510  LinkedIn Learning  101.155089
9998               3258            73.720149                edX  101.143232
9999                257            71.381890              Udemy  125.116906

      Rating (out of 5)
0              4.811252
1              3.829329
2              4.851950
3              3.913732
4              4.921968
...                 ...
9995           4.155649
9996           4.037755
9997           3.603868
9998           3.825781
9999           3.767038

[10000 rows x 9 columns]